

$UI_THEME_LAYER_0_SHADOW: #120e1a;
$UI_THEME_LAYER_0_BORDER: #120e1a;
$UI_THEME_LAYER_0: #181321;
$UI_THEME_LAYER_1: #1b1526;
$UI_THEME_LAYER_1_BORDER: #302642;
$UI_THEME_LAYER_2: #211a2e;
$UI_THEME_LAYER_3: #2a213b;
$UI_THEME_LAYER_4: #2f2542;
$UI_THEME_LAYER_5: #372b4d;
$UI_THEME_LAYER_5_BORDER: #403259;
$UI_THEME_LAYER_5_ICON: #6e6680;
$UI_THEME_INPUT_BORDER: #4d4268;
$UI_THEME_INPUT_FOCUS: #403359;
$UI_THEME_INPUT_FOCUS_BORDER: #70628c;
$UI_THEME_INPUT_SELECTED: $UI_THEME_LAYER_5;
$UI_THEME_INPUT_DISABLED: #403359;
$UI_THEME_INPUT_DISABLED_BACKGROUND: #322745;
$UI_THEME_TEXT_HIGHLIGHT: #cacaca;
$UI_THEME_TEXT_NORMAL: #adadad;
$UI_THEME_TEXT_SECONDARY: #978fa5;
$UI_THEME_TEXT_DISABLED: #605573;
$UI_THEME_ICON_DEFAULT: #978fa5;
$UI_THEME_ICON_DISABLED: #7960a6;

$UI_CARD_LAYOUT_COLOR_DARK: $UI_THEME_LAYER_4;
$UI_CARD_LAYOUT_COLOR_BORDER: #5c5c5c;
$UI_CARD_LAYOUT_SHADOW: $UI_THEME_LAYER_0_BORDER;

$UI_CARD_LAYOUT_TEXT_COLOR: #bbb0c9;

$UI_THEME_IN_WINDOW_BORDER: $UI_THEME_LAYER_5;
$UI_THEME_IN_WINDOW_SHADOW: $UI_THEME_LAYER_0_SHADOW;


@mixin UI_Border_Soften_Little() {
  border-radius: $u;
}

@mixin UI_Shadow_Strong($COLOR:$UI_THEME_LAYER_0_SHADOW) {
  box-shadow: 0 4px 2px $COLOR;
}

@mixin UI_Shadow_Soft($COLOR:$UI_THEME_LAYER_0_SHADOW) {
  box-shadow: 0 1px 1px $COLOR;
}

@mixin UI_Button_Icon() {
  @include UI_Border_Soften_Little();
  @include UI_Effect_Ease_Color();
  background: $UI_THEME_LAYER_3;
  border: 1px solid $UI_THEME_LAYER_0_BORDER;
  > svg {
    @include UI_Effect_Ease_Color();
  }
}