#kue-viewer.--v-theme-vanilla {
  .--selected.--kue-v-b--task {
    box-shadow: 0px 0px 10rem $UI_CARD_TASK_COLOR;
  }
  .--kue-v-b--task {
    .--icon svg {
      color: $UI_CARD_TASK_COLOR;
    }
    .--kue-v-ui-button .--button {
      //@include UI_Card_Button($UI_BRAND_STORM, $UI_BRAND_STORM, #350c69, #decaf6);
    }
  }

  .react-flow__node-CARD_TASK .react-flow__handle {
    background: $UI_CARD_TASK_COLOR;
  }
}

.--kue-v-b-modal.--task.--v-theme-vanilla {
  .--kue-v-b-modal-caption .--icon svg,
  .--kue-v-b-modal-caption .--label {
    color: $UI_CARD_TASK_COLOR !important;
  }
}

.--kue-v-b-modal.--v-theme-vanilla {
  .--stat-count .--quantity.--card-task {
    color: $UI_CARD_TASK_COLOR;
  }
}