#kue-viewer.--v-theme-vanilla,
.--kue-v-b-modal.--v-theme-vanilla {

  .--kue-v-ui-window {
    @include UI_Gradient(0deg, $UI_THEME_LAYER_2, $UI_THEME_LAYER_3);
    border: 2px solid $UI_THEME_LAYER_4;
    box-shadow: 3px 3px 0 $UI_THEME_LAYER_0_SHADOW;
    @include UI_Border_Soften_Little();
    padding: 3px;
  }

}